.SearchBar {
    display: flex;
    justify-content: center;

    input {
        padding-left: 20px;
        width: 40%;
        border-radius: 10px;
        height:40px;
        border-color: black;
        &:focus {
            border: grey 3px;
          }
         
    }
}
