nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid black;
    height:20px;
    text-align: center;
    padding:10px 0;
    margin: 0px;
    background-color: #FFFFFF;

   
    // &__cart {
    //     text-align: right;
    // }

    // &__pageNavigation {
    //     padding:10px;
    //     margin: auto;
    //     background-color: green;
    //     height: 20px;
    //     // width: 300px;
    //     // display: inline-block;
    // }
}
