nav{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    border-bottom: 2px solid black;
    height:20px;
    width: 100%;
    padding:15px 10px;
    background-color: #FFFFFF;

   
    &__cart {
        text-align: right;
        background-color: blue;
    }

    // &__adventureList {
    //     padding:10px;
    //     margin: auto;
    //     background-color: green;
    //     height: 20px;
    //     grid-column: 1/3;
        // width: 300px;
        // display: inline-block;
    // }
}
