body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* .app {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

nav {
  background-color: #230f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 1em 3em;
  margin-bottom: 1em;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}
/* link {
  text-decoration: none;
} */
/* 
h4 {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  text-decoration: none;
}

article div {
  width: 150px;
  padding: 1em;
  background-color: rgb(255, 252, 242);
  text-decoration: none;
}

.Adventures img {
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
}

.Adventures {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="number"] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="submit"] {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: purple;
  text-align: center;
}
input[type="submit"]:hover {
  color: #000000;
  background-color: #ffffff;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: purple;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}
*/
